*{
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#page {
  display:flex;
  flex-direction: column;
  width: 1120px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

#first-section {
  padding-bottom: 44px;
  border-bottom: 1px solid #D9D9D9;
}


h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

main {
  margin-top: 64px;
}

main .subtitle{
 text-align: left;
 margin: 0;
 font-style: normal;
}

.good-for-section {
  margin-top: 16px;
  color: #333333
}

h2{
  font-size: 32px;
}

.subtitle {
  margin-top: 24px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.title {
  color: #E1624F;
  text-transform: uppercase;
}

.destino {
  margin-top: 64px;
}

.destino + .destino {
  margin-top: 48px;
}

h3 {
  padding-top: 20px;
  font-size: 28px;
}

ul {
  padding-left: 24px;
}

.history {
  color: #0C51A7 ;
}

.couples {
  color: #591B98 ;
}

.family {
  color: #E5245E ;
}

.budget {
  color: #E95E10 ;
}

.destino.last{
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 40px;
}

.subtitle.last{
  margin-top: 40px;
  font-style: normal;
}

footer img {
  vertical-align: middle;
}

.with-love {
  font-family: "Alice", serif;
  font-style: normal;
}